.env
.env.*
!.env.example

*.db
*.db-*
*.sqlite
*.sqlite3
*.log
*.exe
*.dll
*.so
*.pdb
*.jks
*.keystore
*.pem
*.key

__pycache__/
*.py[cod]
.venv/
venv/

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/
coverage/
**/ephemeral/

.idea/
.vscode/
*.iml

client/android/keystore.properties
client/android/local.properties
client/**/google-services.json

.DS_Store
Thumbs.db
Desktop.ini
